   <img src="./img/icon.png" style="display:inline-block; width:40px; height:40px; position: relative; bottom: -3px;">  
   <font style="display:inline-block;"face="arial" size="200px">LiteCore Labs</font><font size="200px"></font>
   <img src="./img/icon.png" style="display:inline-block; width:40px; height:40px; position: relative; bottom: -3px;"></nobr></b>
<br><br><br> 

<main>
   {{ content }}
</main

<div style="background-color: #DCDCDC; margin-top:400px; width: 100%;"> 
   <footer>
      <center>
         <b><font face="arial" size="4">Copyright © 2019 LiteCore Labs, All rights reserved.<font></b>
      <center>
   </footer>
</div>
